<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>997479049389-akl44urgi2g4rcah2tld1lrqd60e46r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997479049389-akl44urgi2g4rcah2tld1lrqd60e46r9</string>
	<key>API_KEY</key>
	<string>AIzaSyBoW1XBisTUZH1GW5iss_UM6bYd63YAukw</string>
	<key>GCM_SENDER_ID</key>
	<string>997479049389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DAM.Project</string>
	<key>PROJECT_ID</key>
	<string>project-218c7</string>
	<key>STORAGE_BUCKET</key>
	<string>project-218c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997479049389:ios:5d72f7422a719a5a</string>
	<key>DATABASE_URL</key>
	<string>https://project-218c7.firebaseio.com</string>
</dict>
</plist>